.h2 {
    width: 550px;
    margin-bottom: 0px;
    margin-left: 400px;
    margin-top: 20px;
    text-align: center; 
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
  
}
.p{
    color: rgb(196, 196, 196);
    font-size:12px;
    margin-left: 520px;
    width: 300px;
    
}

.background{
    background-color: rgb(247, 255, 254);
    height: 510px;
}